@model CourseNewRepresComponent

@if (Model.UserRepresentation == false)
{
    <a class="btn m-t-sm" style="font-size: 20px;"
       href="@Url.Action("NewRepresentation", "Courses",
                            new
                            {
                                id = Model.UserId,
                                courseId = Model.CourseId,
                                presentationId = Model.PresentationId
                            })">
        <span class="fa fa-reply-all text-primary"></span>
        <span class="text-muted"> Respond</span>
    </a>
}
