@model IQueryable<AppUser>

@{
    var borderTop = new List<String>{"hviolet", "hred", "hgreen", "hyellow",
            "hblue", "hnavyblue", "horange", "hreddeep"};
    var i = 0;
}

<style type="text/css">
    .videoBtn {
        display: none;
        position: absolute;
        transform: translateY(40%) translateX(-85%);
    }

    .img-video:hover + .videoBtn {
        display: inline;
    }

    .videoBtn:hover {
        display: inline;
    }
</style>

@if (Model.Count() == 0)
{
    <div class="col-lg-12 navbar bg-info">

        <span class="navbar-brand">No Users</span>

    </div>
}
else
{
<div class="content">
    <div class="row">
        @foreach (AppUser user in Model)
        {
            <div class="col-lg-3">
                <div class="hpanel contact-panel @borderTop[i]">
                    <div class="panel-body">
                        <img alt="profilePhoto" class="img-circle m-b" src="~/defaultAvatar.png">

                        <h3>@user.FirstName <br /> @user.LastName</h3>
                        <a href="@Url.Action("UserProfile", "User",
                            new { id = ViewData["Id"], userId = user.Id })">
                            <span class="text-muted font-bold m-b-xs text-info">
                                &#64;@user.UserName
                            </span>
                        </a><br />
                        <div class="row">
                            <a href=""
                               class="btn btn-primary pull-right m-r-sm">
                                Message <span class="pe pe-7s-chat"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            if (i == 7) { i = 0; } else { i++; }
        }
    </div>
</div>
}

