#mainWrapper {
    background-color: #ccffee;
}

#topNav {
    border-bottom: 2px solid cadetblue;
    box-sizing: border-box;
}

.smalltitle {
    max-width: 300px;
    min-width: 150px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding: 0px;
}


#leftActivity {
    width: 25%;
    height: 200px;
    margin-right: 0px;
    background-color: #ccffff;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    box-sizing: border-box;
    padding-top: 30px;
}

#rightActivity {
    width: 74%;
    height: 200px;
    margin-left: 1%;
    border: 2px solid #ccffff;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: border-box;
    padding-top: 30px;
}

#videoImgActivity {
    width: 25%;
    float: left;
}

    #videoImgActivity img {
        width: 100%;
        height: 80%;
    }

#videoTextActivity {
    width: 49%;
    float: left;
    margin-left: 10%;
}

#videoCategoryActivity {
    width: 15%;
    height: 30%;
    background-color: #ccffff;
    border-radius: 10px;
    box-sizing: border-box;
}

#videoImgPlayActivity {
    width: 100%;
    height: 150px;
    background-color: #000000;
    opacity: 0.6;
    overflow: auto;
    position: relative;
    top: -148px;
    left: 33px;
}

    #videoImgPlayActivity button {
        width: 40%;
        height: 40%;
        margin-top: 20%;
        font-size: 30px;
    }

#adminTopNav {
    width: 100%;
    height: 100px;
}

#adminBtn1 {
    border-bottom: 1px solid #6a6c6f;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #6a6c6f;
    font-size: 20px;
}

    #adminBtn1:hover {
        border-bottom: 1px solid #3498db;
        color: #3498db;
    }

#adminBtn2 {
    border-bottom: 1px solid #6a6c6f;
    box-sizing: border-box;
    background-color: #ffffff;
    color: #6a6c6f;
    font-size: 20px;
}

    #adminBtn2:hover {
        border-bottom: 1px solid #62cb31;
        color: #62cb31;
    }

#profileMain {
    background-color: #ccffff;
    border-radius: 20px;
    box-sizing: border-box;
    padding-top: 30px;
}

.videoCapturePhoto {
    border-radius: 30px;
    box-sizing: border-box;
}

.courseCardEndDate {
    background-color: #ccffff;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    box-sizing: border-box;
    padding-top: 30px;
}

.coursCardManage {
    border-bottom: 2px solid #ccffff;
    box-sizing: border-box;
}

.form-input {
    display: block;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

    .form-input:focus {
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    }

.awardTd:hover {
    cursor: pointer;
}

.borderDashed {
    border: 1px dashed #3498db;
    border-radius: 10px;
    box-sizing: border-box;
}