<!--
    foreach
-->
<div id="leftActivity" class="pull-left text-center">
    <h1><span class="fa fa-calendar"></span></h1>
    <h3>1 day ago</h3>
    <h5><span class="fa fa-clock-o"></span> NO END DATE</h5>
</div>
<div id="rightActivity" class="pull-right">
    <div id="videoImgActivity">
        <img src="~/imgAlt.jpg" alt="video" class="m-l-lg" />
        <div id="videoImgPlayActivity" class="text-center" hidden>
            <button class="btn btn-sm btn-info"><span class="fa fa-play"></span></button>
        </div>
    </div>
    <div id="videoTextActivity">
        <h2>Welcome!</h2>
        <h5>Description:</h5>
        <h4 class="text-muted">by <span class="text-info">&#64;Admin</span></h4>
        <h5><span class="fa fa-plus-square"></span> Start date: 1 day ago</h5>
        <h5><span class="fa fa-eye"></span> 0 Wiew</h5>
    </div>
    <div id="videoCategoryActivity" class="pull-right text-center">
        <h3><a>Category</a></h3>
    </div>
</div>
