@model AppUser

@{
    Layout = "_MainLayout";
    ViewBag.Title = "Home";
}

<div class="row rightNav">
   @await Component.InvokeAsync("CompanyNavigation", Model)
</div>

<div class="row">
    <div class="col">
        <div asp-validation-summary="ModelOnly"></div>
    </div>
</div>