<a class="btn btn-block btn-outline-success"
   asp-action="Index"
   asp-controller="Admin">
    User Accounts
</a>

<a class="btn btn-block btn-outline-success"
   asp-action="Roles"
   asp-controller="Admin">
    Roles
</a>