@model LeftNavigationComponent

@if (Model.IsAdmin)
{
    <li class="@Html.IsSelected(controller: "Admin")">
        <a href="@Url.Action("Index", "Admin", new { id = Model.UserId })">
            <span class="fa fa-sliders @Html.IsSelected(controller: "Admin",
                                       action: "Index")"></span>
            <span class="nav-label @Html.IsSelected(controller: "Admin",
                                       action: "Index")">Admin</span>
        </a>
    </li>
}
