@{
    Layout = "_UserLayout";
    ViewData["Title"] = "No Permission";
}


<div class="content" style="padding-top: 10px">
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel ">
                <div class="panel-body no-padding">
                    <div class="row text-center">
                        <h1 class="fa fa-exclamation-triangle text-danger" style="font-size: 80px;"></h1>
                        <h4 class="text-warning">@ViewData["GroupError"]</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>