@model NewGroupViewModel

@{
    Layout = "_UserLayout";
    ViewData["Title"] = "New Group";
}
<div class="normalheader p-sm">
    <div class="hpanel">
        <div class="panel-body" style="font-size: 30px;">
            <span class="fa fa-users-cog"></span>
            <strong>@ViewData["Title"]</strong>
            <span>&emsp;</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="hpanel m-l-md m-r-md">
            <div class="panel-body">
                <div class="row text-center">
                    <button class="btn btn-primary">
                        Step 1 - Create Group
                    </button>
                    <button class="btn btn-default">
                        Step 2 - Add users to group
                    </button>
                    <button class="btn btn-default">
                        Step 3 - Add courses to group
                    </button>
                </div>
                <form asp-action="NewGroup" asp-controller="Groups" method="post"
                      enctype="multipart/form-data">
                    <input asp-for="CreatedById" value="@ViewData["Id"]" hidden />
                    <div class="col-lg-12">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6 text-center">
                            <div class="text-center">
                                <img id="output" style="width: 80%; height: auto;
                                    border-radius: unset" />
                            </div>
                            <div class="form-group m-t-sm m-b-sm text-center">
                                <label>Profile photo:</label>
                                <input asp-for="ProfilePhoto" class="form-control" id="photo"
                                       onchange="loadFile(event)">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label>Group Name:</label>
                                <input asp-for="Name" class="form-control"
                                       placeholder="Group Name">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Description:</label>
                                <textarea asp-for="Description" type="text"
                                          class="form-control" placeholder="Description...">
                                </textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <label class="m-r-lg">
                            Share Group
                            <input asp-for="Status" type="checkbox"
                                   class="form-control" style="position: relative">
                        </label>
                        <label>
                            Create Chat
                            <input asp-for="CreateChat" type="checkbox"
                                   class="form-control" style="position: relative">
                        </label>
                    </div>

                    <div class="text-right m-t-xs">
                        <a href="@Url.Action("Groups", "Groups", new { id = ViewData["Id"].ToString() })" 
                           class="btn btn-default text-danger">Cancel</a>
                        <button type="submit" class="btn btn-default">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var loadFile = function (event) {
    var reader = new FileReader();
    reader.onload = function () {
        var output = document.getElementById('output');
        output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
};
</script>