<a id="adminBtn1" class="btn" asp-action="Index" asp-controller="Admin" 
   asp-route-id="@ViewData["Id"]">
    <span class="fa fa-users"></span> All Users
</a>

<a id="adminBtn2" class="btn" asp-action="Roles" asp-controller="Admin" 
   asp-route-id="@ViewData["Id"]">
    <span class="fa fa-user-secret"></span> Roles
</a>