@model CreateNewUser
@{
    Layout = "_UserLayout";
    ViewBag.Title = "Create New User";
}

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib_local/css_local/LoginLocal.css" />
    </environment>

    <style type="text/css">
        .awesome-input {
            font-family: Arial, FontAwesome;
        }
    </style>
}

<div class="normalheader p-sm">
    <div class="hpanel">
        <div class="panel-body" style="font-size: 30px;">
            <span class="fa fa-user-plus text-success"></span>
            <strong>New User</strong>
        </div>
    </div>
</div>


<div class="row m-l-md m-r-md">
    <div class="col-lg-12">
        <div class="hpanel m-b-xs">
            <div class="panel-body" style="padding-bottom: 5px;">
                <form id="loginForm"
                      asp-action="Create" method="post">
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>Username</label>
                            <input type="text" asp-for="UserName" placeholder="&#xf007; Username*"
                                   class="form-control awesome-input" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Password</label>
                            <input asp-for="Password" type="password" placeholder="&#xf084; Password* at least 6 characters"
                                   class="form-control awesome-input" id="password-1" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Repeat Password</label>
                            <input asp-for="RepeatPassword" type="password" placeholder="&#xf084; Repeat Password*"
                                   class="form-control awesome-input" id="password-2" />
                            <span asp-validation-for="RepeatPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>First Name</label>
                            <input type="text" asp-for="FirstName" placeholder="&#xf007; First Name*" class="form-control awesome-input" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Last Name</label>
                            <input type="text" asp-for="LastName" placeholder="&#xf007; Last Name*" class="form-control awesome-input" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Email Address</label>
                            <input type="text" asp-for="Email" placeholder="&#xf1fa; e-mail*" class="form-control awesome-input" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Company Name</label>
                            <input asp-for="CompanyName" placeholder="&#xf275; Company Name*" class="form-control awesome-input" />
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Phone Number</label>
                            <input asp-for="PhoneNumber" placeholder="&#xf095; Phone Number" class="form-control awesome-input" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Status</label>
                            <select asp-for="Status" class="form-control">
                                <option value="Inactive" class="text-danger">Inactive</option>
                                <option value="Active" class="text-success">Active</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-6">
                            <label>Role</label>
                            <select asp-for="UserRoleId" class="form-control">
                                @foreach (IdentityRole role in Model.Roles.OrderByDescending(r => r.Name))
                                {
                                    <option value="@role.Id">@role.Name</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <input type="checkbox" onchange="showPassword();" />
                        <label>Show Password</label>
                    </div>
                    <div class="form-group text-center">
                        <p class="text-danger">
                            Fields marked with an * are required
                        </p>
                    </div>

                    <div class="text-center" style="font-size: 20px;">
                        <a onclick="resetFields();" class="btn">
                            <span class="fa fa-redo text-muted"></span>
                            <span class="text-muted">Reset Fields</span>
                        </a>
                        <a href="@Url.Action("Index", "Admin", new { id = ViewData["Id"] })"
                           class="btn">
                            <span class="fa fa-times text-danger"></span>
                            <span class="text-muted">Cancel</span>
                        </a>
                        <button type="submit" class="btn    btn-outline">
                            <span class="fa fa-save text-success"></span>
                            <span class="text-muted">Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<script type="text/javascript">
    function resetFields() {
        var fields = document.getElementsByTagName("input");
        for (var i = 0; i < 8; i++) {
            console.log(fields[i].value);
            fields[i].value = "";
        }
    };

    function showPassword() {
        var passInput1 = document.getElementById("password-1");
        var passInput2 = document.getElementById("password-2");
        if (passInput1.type == "password") {
            passInput1.type = "text";
            passInput2.type = "text";
        } else {
            passInput1.type = "password";
            passInput2.type = "password";
        }
    };
</script>