@model RepreVideoComponentViewModel

@if (Model.IsRepresentationVideo)
{
        <input id="repid" value="@Model.representationId" hidden />
        <input id="form-rating" hidden />
        <a href="@Url.Action("RepresentationRating","Recorder",
                   new { userId = ViewData["Id"],
                         representationId = Model.representationId})"
           class='btn btn-outline btn-warning2 p-xs pull-right m-r-xl m-t-sm'
           id='rating-a' style='display: none' 
           onclick="newRating('@ViewData["Id"]', @Model.representationId);">
            <strong>Save</strong>
        </a>
        <div class='pull-right m-r-lg'>
            <input id='rating-input' class='rating' data-min='0' data-max='5'
                   data-step='1' data-size='xs' data-show-clear='false'
                   onchange='ratingChange()'>
        </div>
}