@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Video";
}


<div class="normalheader p-sm">
    <div class="hpanel">
        <div class="panel-body" style="font-size: 30px;">
            <div class="row text-center">
                <span style="font-size: 90px" class="fas fa-video-slash text-danger"></span>
            </div>
            <div class="row text-center">
                <strong style="font-size: 40px" class="text-primary"> Access Denied!</strong>
            </div>
            <div class="row text-center">
                <strong style="font-size: 20px" class="text-muted">
                    It looks like you don't have permission to watch this video.
                </strong>
            </div>
        </div>
    </div>
</div>