

@{
    Layout = "_UserLayout";
    ViewData["Title"] = "Course Reports";
}

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/homer/lib_local/footable/css/footable.core.min.css" />
    </environment>
}

<div class="normalheader p-sm">
    <div class="hpanel">
        <div class="panel-body" style="font-size: 30px;">
            <span class="fa fa-bar-chart"></span>
            <strong>@ViewData["Title"]</strong>
        </div>
    </div>
</div>

<div class="row m-l-md m-r-md">
    <div class="col-lg-12">
        <div class="hpanel m-b-xs">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                </div>@**
                <a href="@Url.Action("CourseDetails", "Courses",
                                    new { id = ViewData["Id"],
                                    courseId = content.Course.CourseId})">
                    <span style="font-size: 18px">
                        <strong class="@content.Course.AwardIcon" style="font-size: 25px"></strong>&emsp;
                        @content.Course.Title
                    </span>
                </a>*@
            </div>
            <div class="panel-body" style="padding-bottom: 5px;">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>
