@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginModel
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Login";
}

@section Styles {
    <environment names="Development,Staging,Production">
        <link rel="stylesheet" href="~/lib_local/css_local/LoginLocal.css" />
    </environment>
}


<div id="main">
    <h2 class="title-center"><strong>@ViewData["Title"]</strong></h2>
    <div class="row">
        <div class="col-md-8 input">
            <section>
                <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["RetunUrl"]"
                      method="post" class="form-horizontal">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group row">
                        <div class="userInput col-sm-10">
                            <input asp-for="UserName" placeholder="&#xf007; Username" class="form-control" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10 userInput">
                            <input asp-for="Password" placeholder="&#xf084; Password" class="form-control" type="password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="checkbox col-sm-6">
                                <label asp-for="RememberMe" class="userFont">
                                    <input asp-for="RememberMe" />
                                    @Html.DisplayNameFor(m => m.RememberMe)
                                </label>
                            </div>
                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-outline btn-info">Log in</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                    <p>
                        <a asp-action="SignUp" asp-route-returnturl="@ViewData["ReturnUrl"]" class="pull-left userFont">
                            Register as a new user?
                        </a>
                        <a asp-action="ForgotPassword" class="pull-right userFont">Forgot your password?</a>
                    </p>
                    <p>
                        
                    </p>
                </form>
            </section>
        </div>
    </div>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
