@{
    Layout = null;
    ViewBag.Title = "Welcome!";
}

<div style="margin:auto">
    <h4>Thank you!</h4>
    <h3>You have been successfully registered!</h3>
    <a class="btn-success" asp-action="Login">Back to Login</a>
</div>
