@{
    ViewData["Title"] = "Forgot Password!";
}


<div class="normalheader p-sm">
    <div class="hpanel">
        <div class="panel-body text-center text-success" style="font-size: 30px;">
            <strong>Thank you!</strong>
        </div>
    </div>
</div>


<div class="row m-l-md m-r-md">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-body text-center">
                <h4>Please, wait for the email with your temporary password.</h4>
            </div>
        </div>
    </div>
</div>
