@model UserHomeStatisticsViewModel

<div class="col-lg-1"></div>
<div class="col-lg-2" style="padding: 0px 2px 0px 2px;">
    <div class="hpanel m-b-xs">
        <div class="panel-body text-center">
            <strong class="text-muted" style="font-size: 20px;">Started Courses</strong>
            <br />
            <strong class="text-primary" style="font-size: 30px;">100</strong>
        </div>
    </div>
</div>

<div class="col-lg-2" style="padding: 0px 2px 0px 2px;">
    <div class="hpanel m-b-xs">
        <div class="panel-body text-center">
            <strong class="text-muted" style="font-size: 20px;">Views</strong>
            <br />
            <strong class="text-primary" style="font-size: 30px;">100</strong>
        </div>
    </div>
</div>

<div class="col-lg-2" style="padding: 0px 2px 0px 2px;">
    <div class="hpanel m-b-xs">
        <div class="panel-body text-center">
            <strong class="text-muted" style="font-size: 20px;">Representations</strong>
            <br />
            <strong class="text-primary" style="font-size: 30px;">100</strong>
        </div>
    </div>
</div>

<div class="col-lg-4" style="padding: 0px 2px 0px 2px;">
    <div class="hpanel m-b-xs">
        <div class="panel-body text-center" style=" height: 112px;">
            <strong class="text-muted" style="font-size: 20px;">Awards</strong>
            <br />
            <span class="fa fa-user text-success" style="font-size: 40px;"></span>
            <span>&emsp;</span>
            <span>&emsp;</span>
            <span class="fa fa-user text-success" style="font-size: 40px;"></span>
            <span>&emsp;</span>
            <span>&emsp;</span>
            <span class="fa fa-user text-success" style="font-size: 40px;"></span>
        </div>
    </div>
</div>