@model CourseViewModel

@if (Model.Course.Users.Count() == 0)
{
    <div class="col-lg-12 navbar bg-info">

        <span class="navbar-brand">No Users</span>

        @if (Model.User != null &&
                Model.User.Id == ViewData["Id"].ToString())
        {
            <a onclick="NewPresentation.show()"
               class="btn btn-outline btn-success pull-right m-t-sm">
                Add User <i class="fa fa-user-plus"></i>
            </a>
        }
    </div>
}