<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/stylesheet/css/bootstrap.css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="m-1 p-1">
        @RenderBody()
    </div>
</body>
</html>
