<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/stylesheet/css/bootstrap.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="~/userstylesheet/MainLayoutStyleSheet.css" />
    <link rel="stylesheet" href="~/userstylesheet/ProfileStyleSheet.css" />
    <script src="~/script/jquery.min.js"></script>
    <title>@ViewBag.Title</title>
    <style type="text/css">
        body {
            background-image: url('../../ThinkstockPhotos-664599098-1024x677.jpg');
            background-repeat: no-repeat;
            background-size: 1440px, 720px;
        }
    </style>
</head>
<body>
    <div class="bg-light p-1 row" id="top">
        <div class="col">
            <h2 style="font-family: 'Berlin Sans FB'; color:aqua; ">SirmiumCommercial</h2>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
